@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Oswald&display=swap');

* { /* reseta as configurações padrão de margin e padding dos browsers */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #eee1c6;
    color:black;
}

.destaque-titulo{
    color:#00471b;
    border: 1px solid #00471b;
    padding: 1px 10px;
}

.apresentacao {
    margin: 10% 15%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.apresentacao__conteudo {
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__titulo {
    font-family: 'Oswald', sans-serif;
    font-size: 34px;
}

.apresentacao__texto {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.links {
    background-color: #00471b;
    width:280px;
    text-align: center;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;

}