body {
    background-color: white;
}

.jogadores__lakers {
    border: 2px solid black;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.jogadores__warriors {
    
}

.galeria {
    width:20em;
}